// Put your scss here!
@import 'https://fonts.googleapis.com/css2?family=VT323&display=swap';

.hexproto-output {
    font-family: "VT323", Courier, monospace;
    font-size: larger;
    font-weight: 400;
    font-style: normal;
    }